.nav-bar{
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    justify-content: end;
    background: #0d0e14;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 20px -8px;
    height: 8%;
    z-index: 100;
}
.nav-bar-options{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 34%;
}
.nav-bar-options>li>a:hover{
    border-bottom: solid 3px #fd5c55;
    color: #fd5c55;
}
.nav-bar-options>li>a{
    font-size: 18px;
}